.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.lebensmittel-card {
    width: 300px;
}
.mat-mdc-card{background-color: white;}
.mat-toolbar{
    background-color: white;
    justify-content: end;
    .mat-mdc-form-field{justify-self: center;}
}
.mat-mdc-form-field-subscript-wrapper{
    display: none;
}
.mat-mdc-card-actions{
    justify-content: end;
}       
