/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



html .mat-mdc-fab.mat-accent {
    --mdc-fab-container-color: #41d873;
    --mat-fab-foreground-color:rgb(178, 243, 181);
}
.mat-mdc-fab{color: white;}